<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="not_found.png">
    </div>
    <div class="col-6">
      <h3 text="center">eleks</h3>
      <h1 class="title-notFound">404</h1>
      <p>... Oops! Something is missing</p>
      <a href="/"><button class="btn">HOME</button></a>
    </div>
  </div>
</div>